body {
  cursor: url('./cursorx.png'), auto;
}

button, a {
  cursor: url('./pointer.png'), auto;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: orange;
}

::selection {
  color: black;
  background: orange;
}
