body {
  cursor: url('./cursor.jpg'), auto;
}

body:hover {
  cursor: none;
  cursor: url('./cursor.jpg'), auto;
}

button, a {
  cursor: url('./pointer.jpg'), auto;
}

button:hover, a:hover {
  cursor: url('./pointer.jpg'), auto;
}
